@import 'tailwindcss';
@import './fonts.css';
@import './lenis.css';

@theme {
  /* Typography */
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-serif: 'Playfair Display', serif;

  /* Colors */
  --color-primary: #ff6345;
  --color-secondary: #2c3f52;
  --color-accent: #e64e76;

  --color-neutral-100: var(--color-slate-100);
  --color-neutral-200: var(--color-slate-200);
  --color-neutral-300: var(--color-slate-300);
  --color-neutral-400: var(--color-slate-400);
  --color-neutral-500: var(--color-slate-500);
  --color-neutral-600: var(--color-slate-600);
  --color-neutral-700: var(--color-slate-700);
  --color-neutral-800: var(--color-slate-800);
  --color-neutral-900: var(--color-slate-900);

  --color-black: #0f1b27;
  --color-white: #f5fbff;
  --color-success: var(--color-green-400);
  --color-error: var(--color-red-400);

  /* Breakpoints */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
}

@layer base {
  html {
    @apply bg-black;
  }

  body {
    @apply m-0 bg-linear-to-br from-secondary to-black p-0 font-sans font-light text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4 font-serif leading-[110%] font-bold;
  }

  h1 {
    @apply mb-6 text-5xl md:text-7xl;
  }

  h2 {
    @apply mb-6 text-4xl md:text-6xl;
  }

  h3 {
    @apply text-3xl md:text-5xl;
  }

  h4 {
    @apply text-2xl md:text-4xl;
  }

  h5 {
    @apply text-xl md:text-3xl;
  }

  h6 {
    @apply text-lg md:text-2xl;
  }

  p {
    @apply mb-4 text-base last:mb-0 md:text-lg;
  }

  strong {
    @apply font-bold;
  }
}

@utility bg-gradient-primary {
  @apply bg-linear-to-br from-primary to-accent;
}

@utility text-gradient-primary {
  @apply bg-linear-to-br from-primary to-accent bg-clip-text text-transparent text-shadow-none;
}
